@function getWidth($size, $base: 12) {
    @return (100*$size / $base) * 1%;
}

.grid {
    width: 75%;
    @include elements-reset;
    text-align: center;
    display: flex;
}

.row {
    width: 100%;
    display: block;
    height: auto;
}

[class*='col-'] {
    border-radius: 5px;
    padding-left: .75em;
}

@for $column from 1 through $max-columns {
    .grid > .col-#{$column} {
        width: getWidth($column, $max-columns);
    }            
}

@each $device, $pixels in $devices {
    @media (max-width: $pixels) {
        @if $pixels == 480px {
            .grid {
                width: 100%;
                display: block;
                overflow: visible;
            }
        }
        @for $column from 1 through $max-columns {
            .grid > .col-#{$device}-#{$column} {
                width: getWidth($column, $max-columns);
            }            
        }
    }
}
