<!DOCTYPE html>
<html lang="en">

<head>
    <title>Practica 2</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="/assets/styles/styles.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/handlebars@latest/dist/handlebars.js"></script>
</head>

<body>
    <div class="grid">
        <div class="row">
            <div class="col-4 col-t-12 col-m-12">
                <h1>News Outlet!</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-3 col-l-12 col-t-8 col-m-8">
                <input type="text" name="keyword" id="searchBar" placeholder="Search Bar">
                <button onclick="getArticles();">Search</button>
            </div>
        </div>
        <div class="row">
            <div class="col-4 col-l-12 col-t-12 col-m-12">
                <p>News outlet powered by <a href="https://newsapi.org/">NewsAPI</a></p>
            </div>
        </div>
    </div>
    <div id="newsContainer" class="newsCard grid">
        {{#if news}}
        {{#each news}}
        <div class="newsItem row">
            {{#if urlToImage}}
            <img src="{{urlToImage}}" class="col-2 col-d-3 col-l-4 col-t-12 col-m-12" />
            {{else}}
            <h3 class="col-2 col-d-3 col-l-4 col-t-12 col-m-12"> NO IMAGE </h3>
            {{/if}}
            <h5 class="col-4 col-d-3 col-l-4 col-t-12 col-m-12">{{title}}</h5>
            <p class="col-4 col-d-3 col-l-3 col-t-12 col-m-12">{{description}}</p>
            <a href="{{url}}" target="_blank" class="col-2 col-d-3 col-l-1 col-t-12 col-m-12">Ver más</a>
        </div>

        {{/each}}
        {{else}}
        <h1 class="col-12">Whoops! Something went wrong.</h1>
        {{/if}}
    </div>
    <script src="/assets/scripts/main.js"></script>
</body>

</html>