<form action="/users" method="post" enctype="multipart/form-data" class="row">
    <div class="grid">
        <div class="newsItem row">
            <div class="col-6 col-m-12 col-t-12">
                <p>Name: </p>
            </div>
            <hr class="verticalHr">
            <div class="col-6 inputCenter"><input type="text" name="name" id="nameRegister" placeholder="Name"></div>
        </div>
        <div class="newsItem row">
            <div class="col-6 col-m-12 col-t-12">
                <p>Email: </p>
            </div>
            <hr class="verticalHr">
            <div class="col-6 inputCenter"><input type="email" name="email" id="emailRegister" placeholder="Email"></div>
        </div>
        <div class="newsItem row">
            <div class="col-6 col-m-12 col-t-12">
                <p>Password: </p>
            </div>
            <hr class="verticalHr">
            <div class="col-6 inputCenter"><input type="password" name="password" id="pswdRegister" placeholder="Password"></div>
        </div>
        <div class="newsItem row">
            <div class="col-6 col-m-12 col-t-12">
                <p>Profile Picture: </p>
            </div>
            <hr class="verticalHr">
            <div class="col-6 inputCenter"><input type="file" name="profilePic" id="pictureRegister"></div>
        </div>
        <button>Sign Up</button>
    </div>

</form>