.navItems {
    background-color: $primary-color;
    display: flex;
}

li a{
    color: $background;
    @include anchor-reformat;
}

.navItems li{
    list-style: none;
    margin-left: .5%;
}

.navItems li:not(:last-of-type):hover{
    @extend .navItems;
    background-color: $accent-color;
}

.grid {
    display: flex;
    text-align: center;
}

[class*='col-'] {
    height: auto;
    border-radius: 5px;
    padding: .75em;
}

.grid>.col-100 {
    width: 100%;
}

.grid>.col-75 {
    width: 75%;
}

.grid>.col-50 {
    width: 50%;
}

.grid>.col-25 {
    width: 25%;
}

@media screen and (max-width: 480px) {
    .grid {
        display: block;
    }
}

@each $device, $pixels in $devices {
    @media (max-width: $pixels) {
        @each $size, $name in $sizes {
            .grid > .col-#{$device}-#{$name} {
                width: $size;
            }
        }
    }
}
