$navBarColor: #333;
$navBarItemsColor: #EEEEEE;
$background: #f2f2f2;
$devices: "d" 1200px, "l" 1024px, "t" 768px, "m" 480px;
$sizes: 100% "100" #ffc240, 75% "75" #40ff80, 50% "50" #406dff, 25% "25" #8940ff;