@import "sass/variables";
@import "sass/mixins";
@import "sass/grid";

html, body {
    @include elements-reset;
    font-family: Arial, Helvetica, sans-serif;
    background-color: $background;
    color: $primary-color;
}

img {
    width: 100%;
    height: auto;
}

.newsItem {
    background-color: $secondary-color;
    color: $primary-color;
    border-style: solid;
    border-width: .10px;
    border-color: $accent-color;
}

