html, body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #FDFFFC;
}

nav {
  margin: 0;
  padding: 0;
}

.navItems, .navItems li:not(:last-of-type):hover {
  background-color: #18181C;
  display: flex;
}

li a {
  color: #FDFFFC;
  text-decoration: none;
  font-weight: bold;
}

.navItems li, .navItems li:not(:last-of-type):hover li {
  list-style: none;
  margin-left: 0.5%;
}

.navItems li:not(:last-of-type):hover {
  background-color: #902D41;
}

.grid {
  display: flex;
  text-align: center;
}

[class*=col-] {
  height: auto;
  border-radius: 5px;
  padding: 0.75em;
}

.grid > .col-100 {
  width: 100%;
}

.grid > .col-75 {
  width: 75%;
}

.grid > .col-50 {
  width: 50%;
}

.grid > .col-25 {
  width: 25%;
}

@media screen and (max-width: 480px) {
  .grid {
    display: block;
  }
}
@media (max-width: 1200px) {
  .grid > .col-d-100 {
    width: 100%;
  }

  .grid > .col-d-75 {
    width: 75%;
  }

  .grid > .col-d-50 {
    width: 50%;
  }

  .grid > .col-d-25 {
    width: 25%;
  }
}
@media (max-width: 1024px) {
  .grid > .col-l-100 {
    width: 100%;
  }

  .grid > .col-l-75 {
    width: 75%;
  }

  .grid > .col-l-50 {
    width: 50%;
  }

  .grid > .col-l-25 {
    width: 25%;
  }
}
@media (max-width: 768px) {
  .grid > .col-t-100 {
    width: 100%;
  }

  .grid > .col-t-75 {
    width: 75%;
  }

  .grid > .col-t-50 {
    width: 50%;
  }

  .grid > .col-t-25 {
    width: 25%;
  }
}
@media (max-width: 480px) {
  .grid > .col-m-100 {
    width: 100%;
  }

  .grid > .col-m-75 {
    width: 75%;
  }

  .grid > .col-m-50 {
    width: 50%;
  }

  .grid > .col-m-25 {
    width: 25%;
  }
}
