.grid {
    width: 75%;
    display: flex;
    margin-top: 1%;
    text-align: center;
}

[class*='col-'] {
    height: auto;
    border-radius: 5px;
    padding: 1%;
    margin-top: 1%;
}

.grid>.col-100 {
    width: 100%;
    background-color: #ffc240;
    border: solid 1px #ffae00;
}

.grid>.col-75 {
    width: 75%;
    background-color: #40ff80;
    border: solid 1px #03e04d;
}

.grid>.col-50 {
    width: 50%;
    background-color: #406dff;
    border: solid 1px  #003cff;
}

.grid>.col-25 {
    width: 25%;
    background-color: #8940ff;
    border: solid 1px #5f00f7;
}

@media screen and (max-width: 480px) {
    .grid {
        display: block;
    }
}

@each $device, $pixels in $devices {
    @media (max-width: $pixels) {
        @each $size, $name, $color in $sizes {
            .grid > .col-#{$device}-#{$name} {
                width: $size;
                background-color: $color;
            }
        }
    }
}
