@each $device, $pixels in $devices {
    @media (max-width: $pixels) {
        @each $size, $name, $color in $sizes {
            .grid > .col-#{$device}-#{$name} {
                width: $size;
                height: auto;
                background-color: $color;
                border-radius: 5px;
            }
        }
    }
}
