@import "variables";
@import "mixins";

html,
body {
    background-color: $background;
    font-family: Arial;
    padding: 0% 10% 0% 10%;
}

p, span {
    color: white;
    font-weight: bold;
    display: block;
}

@import "secondary";