<!DOCTYPE html>
<html lang="en">

<head>
    <title>News App!</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="/assets/styles/styles.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/handlebars@latest/dist/handlebars.js"></script>
</head>

<body>
    <header>
        <div class="grid">
            <div class="row">
                <div class="col-4 col-t-12 col-m-12">
                    <a href="/" class="appHome">
                        <h1>News Outlet!</h1>
                    </a>
                </div>
            </div>
            <div class="row">
                <div class="col-6 col-l-8 col-t-8 col-m-8">
                    <form action="/news" method="get">
                        <input type="text" name="keyword" id="searchBar" placeholder="Search Bar">
                        <button>Search</button>
                    </form>
                </div>
                <div class="col-6">
                    <button style="float: right;"><a href="/users" class="appHome">Sign Up</a></button>
                </div>
            </div>
            <div class="row">
                <div class="col-4 col-l-12 col-t-12 col-m-12">
                    <p>News outlet powered by <a href="https://newsapi.org/">NewsAPI</a></p>
                </div>
            </div>
        </div>
    </header>
    <div class="newsCard grid">
        {{{body}}}
    </div>
    <footer class="grid">
        <div class="row">
            <div class="col-10 col-l-9">&copy; Iteso. Santiago Jacobus</div>
            <a href="https://github.com/sjacobust" class="col-2 col-l-3">Github: sjacobust</a>
        </div>
    </footer>
</body>

</html>